<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683253324419-rn10mj6gjmr6t01ddmqaf2gshuggu12v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683253324419-rn10mj6gjmr6t01ddmqaf2gshuggu12v</string>
	<key>API_KEY</key>
	<string>AIzaSyCQgkKBocgN29NwbIPLySD3_WdjLepK_1s</string>
	<key>GCM_SENDER_ID</key>
	<string>683253324419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korbonix.runninglog</string>
	<key>PROJECT_ID</key>
	<string>running-log-499ed</string>
	<key>STORAGE_BUCKET</key>
	<string>running-log-499ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683253324419:ios:fb8087910a03f624b259b6</string>
	<key>DATABASE_URL</key>
	<string>https://running-log-499ed.firebaseio.com</string>
</dict>
</plist>